<b>Português:</b>  Descartando os atributos que não são consistentes (não estão presentes em ambos os conjuntos de dados) ou não são relevantes para as perguntas.

Colunas a descartar:<br> 
Dados de 2008: 'Stnd', 'Underhood ID', 'FE Calc Appr', 'Unadj Cmb MPG'<br> 
Dados de 2018: 'Stnd', 'Stnd Description', 'Underhood ID', 'Comb CO2'<br> 

Renomeando colunas:<br> 
-Mudando o rótulo da coluna 'Sales Area' do conjunto de 2018 para 'Cert Region';<br> 
-Renomeando todos os rótulos de coluna para substituir espaços por sublinhados e colocar tudo em letra minúscula.<br> 
(Os sublinhados são muitos mais fáceis de se trabalhar no Python do que espaços, nao é possível usar algumas funções em nomes com espaço. Ser consistente com letras minúsculas e sublinhados também ajuda facilita na hora de lembrar o nome das colunas).


<b>English:</b> Discarding attributes that are not consistent (not present in both data sets) or are not relevant to the questions.

Columns to drop:<br>
2008 data: 'Stnd', 'Underhood ID', 'FE Calc Appr', 'Unadj Cmb MPG'<br>
2018 data: 'Stnd', 'Stnd Description', 'Underhood ID', 'Comb CO2'<br>

Renaming columns:<br>
-Changing the label of the 'Sales Area' column in the 2018 set to 'Cert Region';<br>
-Renaming all column labels to replace spaces with underline and make everything lowercase.<br>
(Underline is much easier to work with in Python than spaces, some functions can´t be used if names are with with spaces. Being consistent with lowercase letters and underline also helps make it easier to remember column names).

In [10]:
import pandas as pd

df_08=pd.read_csv('all-alpha-08.csv')
display(df_08.head(1))

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Stnd,Underhood ID,Veh Class,Air Pollution Score,FE Calc Appr,City MPG,Hwy MPG,Cmb MPG,Unadj Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT03.7PKR,SUV,7,Drv,15,20,17,22.0527,4,no

Descartar colunas: <br> 
Do Data Frame 2008: 'Stnd', 'Underhood ID', 'FE Calc Appr', 'Unadj Cmb MPG' <br> 
Do Data Frame 2018: 'Stnd', 'Stnd Description', 'Underhood ID', 'Comb CO2'<br>

In [11]:
df_08.drop(columns=['Stnd', 'Underhood ID','FE Calc Appr', 'Unadj Cmb MPG'], axis=1, inplace=True)
df_08.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

In [12]:
df_18=pd.read_csv('all-alpha-18.csv')
display(df_18.head(1))

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Stnd,Stnd Description,Underhood ID,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay,Comb CO2
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386

In [13]:
df_18.drop(columns=['Stnd', 'Stnd Description', 'Underhood ID', 'Comb CO2'], axis=1, inplace=True)
df_18.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,small SUV,3,20,28,23,5,No

Trocando o rótulo da coluna 'Sales Area' do conjunto de 2008 para 'Cert Region'.<br> 
Changing the label of the 'Sales Area' column from the 2008 set to 'Cert Region'.

In [14]:
df_08.rename(columns={'Sales Area': 'Cert Region'}, inplace = True)
df_08.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

Renomeando os rótulos de coluna, troca para letras minúsculas. <br> 
Renaming column labels, switching to lowercase letters.

In [15]:
df_08.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)
df_08.head(1)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

In [16]:
df_18.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)
df_18.head(1)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,small SUV,3,20,28,23,5,No

Verificando se os rótulos das colunas dos data frames 2008 e 2018 são idênticos.<br> 
Checking if column labels of 2008 and 2018 data frames are identical.

In [17]:
df_08.columns == df_18.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True])

In [18]:
(df_08.columns == df_18.columns).all()

True

In [20]:
df_08.to_csv('data_08.csv', index=False)
df_18.to_csv('data_18.csv', index=False)