<b>Portuguese:</b>  Filtro, remoção de nulos e duplicados.<br> 

-Premissa: comparar carros certificados segundo as normas da Califórnia (filtro usando a função 'query');<br> 
-Descarte de todas as linhas dos dois conjuntos de dados que contêm valores ausentes ou duplicados;<br> 

<b>English:</b>  Filter, remove nulls and duplicates.<br> 

-Assumption: compare cars certified according to California standards (filter using the 'query' function);<br> 
-Discard all rows from both data sets that contain missing or duplicate values;<br>

In [2]:
import pandas as pd

df_08=pd.read_csv('data_08.csv')
display(df_08.head())

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,15,20,17,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,17,22,19,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,17,22,19,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,midsize car,7,16,24,19,5,no

In [4]:
df_18=pd.read_csv('data_18.csv')
display(df_18.head())

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,small SUV,3,20,28,23,5,No
1,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,CA,small SUV,3,20,28,23,5,No
2,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,FA,small SUV,3,19,27,22,4,No
3,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,CA,small SUV,3,19,27,22,4,No
4,ACURA TLX,2.4,4.0,AMS-8,2WD,Gasoline,CA,small car,3,23,33,27,6,No

Filtrar, remover nulos e remover duplicados.<br> 
Filter, remove nulls and remove duplicates

In [6]:
df_08=df_08.query("cert_region=='CA'")
df_08.head(2)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,17,22,19,5,no

Confirmando que a única região de certificação é a Califórnia.<br> 
Confirming that the only certification region is California.<br>

In [7]:
df_08['cert_region'].unique()

array(['CA'], dtype=object)

In [8]:
df_08.shape

(1084, 14)

In [9]:
df_18=df18.query("cert_region=='CA'")
df_18.head(2)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
1,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,CA,small SUV,3,20,28,23,5,No
3,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,CA,small SUV,3,19,27,22,4,No

In [10]:
df_18['cert_region'].unique()

array(['CA'], dtype=object)

In [11]:
df_18.shape

(798, 14)

In [12]:
df_08.drop(columns=['cert_region'], axis=1, inplace=True)
df_08.head(1)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,SUV,7,15,20,17,4,no

In [13]:
df_08.shape #conferir se todas as linhas ficaram no df

(1084, 13)

In [14]:
df_18.drop(columns=['cert_region'], axis=1, inplace=True)
df_18.head(1)

C:\Users\arian\AppData\Local\Temp\ipykernel_18384\4249048302.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_18.drop(columns=['cert_region'], axis=1, inplace=True)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
1,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,small SUV,3,20,28,23,5,No

In [15]:
df_18.shape

(798, 13)

Descartanto linhas com valores ausentes.<br> 
Discarding rows with missing values.

In [17]:
df_08.isnull().any()

model                   False
displ                   False
cyl                      True
trans                    True
drive                    True
fuel                    False
veh_class               False
air_pollution_score     False
city_mpg                 True
hwy_mpg                  True
cmb_mpg                  True
greenhouse_gas_score     True
smartway                False
dtype: bool

In [21]:
df_08.isnull().sum()

model                    0
displ                    0
cyl                     75
trans                   75
drive                   37
fuel                     0
veh_class                0
air_pollution_score      0
city_mpg                75
hwy_mpg                 75
cmb_mpg                 75
greenhouse_gas_score    75
smartway                 0
dtype: int64

In [25]:
df_18.isnull().sum()

model                   0
displ                   1
cyl                     1
trans                   0
drive                   0
fuel                    0
veh_class               0
air_pollution_score     0
city_mpg                0
hwy_mpg                 0
cmb_mpg                 0
greenhouse_gas_score    0
smartway                0
dtype: int64

In [26]:
# descarte de linhas com valores nulos em ambos conjuntos de dados
# dropna remove valores ausentes

# discard rows with null values in both datasets
# dropna remove missing values

df_08.dropna(inplace=True, how='any')
df_18.dropna(inplace=True, how='any')

C:\Users\arian\AppData\Local\Temp\ipykernel_18384\3915927689.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_18.dropna(inplace=True, how='any')

In [28]:
# verificando se as colunas apresentam valores nulos - o resultado deve ser False
# checking if columns have null values - the result should be False
df_08.isnull().sum().any()

False

In [29]:
df_18.isnull().sum().any()

False

Removendo linhas duplicadas nos dois conjuntos.<br> 
Removing duplicate rows in both sets.

In [32]:
print("Duplicados em 8: {0}".format(df_08.duplicated().sum()))
print("Duplicados em 18: {0}".format(df_18.duplicated().sum()))

Duplicados em 8: 23
Duplicados em 18: 3

In [33]:
df_08.drop_duplicates(inplace=True)
df_18.drop_duplicates(inplace=True)

C:\Users\arian\AppData\Local\Temp\ipykernel_18384\2939090063.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_18.drop_duplicates(inplace=True)

Conferindo se os valores duplicados foram removidos<br> 
Checking if duplicate values have been removed

In [35]:
print("Duplicados em 8: {0}".format(df_08.duplicated().sum()))
print("Duplicados em 18: {0}".format(df_18.duplicated().sum()))

Duplicados em 8: 0
Duplicados em 18: 0

In [36]:
# salve seu progresso para a próxima seção 
#saving progress

df_08.to_csv('data_08.csv', index=False)
df_18.to_csv('data_18.csv', index=False)